
.picture-team a img{
    width: 100%;
    height: 300px;
   
}
*{
    margin : 0;
    padding :0 ;
    font-family: 'Rubik';
    
    background-color: #eeeeee;
}
.team-section{
    overflow: hidden;
    text-align: center;
  
    padding: 60px;
}
.team-section{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #276678;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #000000;
    margin-bottom: 40px;
}
.picture-team{
    margin-bottom: 40px;

}
.picture-team a{
    display: inline-block;
    margin : 0 30px;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;

}
.picture-team a:hover > img{
    filter: none;
    transition-duration: 400ms;
    

}
.section{
    width:600px;
    margin: auto;
    font-size:medium;
    color:black;
    text-align: center;
    height: 0;
    overflow: hidden;
}
.section:target{
height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
}
 p{
    font-size: medium;
    color: black;
    text-transform: uppercase;
    
     
    text-align: center;
   
    font-weight: bold;
    
}
h4{
    color: black;
}
#footer{
   font-weight: bold;
    text-align: center;
    padding-top: 200px;
    font-size: large ;
   
}

#logo{
    width: 100px;
    height: 100px;
}
nav ul a{
    color: black;
}
nav ul {
    position: relative;
    bottom: 70px;
    left: 50%;
    margin-left: -240px;
    
    
}

nav ul li {
    display: inline;
    padding-right: 100px;
    margin: 0 auto;
}
#praghah{
    text-transform: lowercase;
   

}