@import url('https://font.googleapis.com/sxx?family=poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    }
    body {
        background-color: #eeeeee;
    }
   main {
       width: 960px;
       margin: 0 auto;
       
   }
    /* .container ,.container2 {
        position: relative;
        width: 40%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        margin-left: 2%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
} */

footer {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 10px 85px;
    background: #393e46;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 200px;
}
body {
    height: 100%;
    overflow-x: hidden;
}
#donarDi {
    position: relative;
    width: 500px;

}
/* body{
display: flex;
justify-content: left;
align-items: center;
background: #16384c;
} */

.container ,.container2 {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#containers {
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    margin: 0px;
    position: absolute;
    right: 0px;
}


/* footer .sec.aboutus {
    margin-right: 30px;
} */

footer .aboutus {
    width: 500px;
}

footer h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

footer h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #00adb5;
}

footer p {
    color: #999;
    width: 460px;
    text-align: justify;
}

.sci {
    margin-top: 50px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #00adb5;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
    margin-left: 17px;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.quicklinks ul li {
    list-style: none;
}

.contact {
    position: absolute;
    width: calc(35% - -144px);
    margin-right: 0 !important;
    display: inline-block;
    left: 0px;
    top: 0px;
}

.contant .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.cpayright {
    width: 100%;
    background: #181818;
    padding: 8px 0px;
    text-align: center;
    color: #999;
    position: relative;
    top: 190px;
}
.cpayright p {
    width: 460px;
    margin-left: 450px;
}
@media (max-width: 991px){
  
    footer {
        padding: 40px;
    }
  
    footer .containers {
        flex-direction: column;
    }
  
    footer .containers .sec {
        margin-right: 0;
        margin-bottom: 40px;
        width: 480px;
    }
  
    footer .containers .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100px;
    }
}

    .copyright {
        padding: 8px 40px;
    }
    .card:hover .content{
    
        visibility: visible;
        opacity: 1;
        /* margin-left:-40px; */
        transition-delay: 0.5s;
    }
    
    button{
        width: 181px;
        height: 25px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        background: #16384c;
        border: 0;
        border-radius: 20px;
        outline: none;
        position: relative;
        margin-top: 15px;
        left: 7px;
         }
         pre {
             position: relative;
            right: 60px;
         }
    /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    position: relative;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    right: 28px;
    width: 280px;
    padding-top: 10px;
    padding-bottom: 29px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: relative;
    /* border: 3px solid #666; */
    z-index: 9;
    width: 660px;
    bottom: 42px;
    /* border-radius: 20px; */
  }
  
  /* Add styles to the form container */
  .form-container {
      position: relative;
    width: 660px;
    padding: 10px;
    background-color: white;
    border: 3px solid #666;
    border-radius: 20px;
    height: 290px;
    left: 50%;
    margin-left: -531px;
  }
  #hideName , label[for=hideName] {
      position: relative;
      left: 105px;
      bottom: 5px;
  }
  label {
      font-weight: bold;
      color: rgb(57, 62, 70);
  }
  input {
      border-radius: 20px;
  }
  input[name=medicine] {
      position: relative;
      left: 325px;
      bottom: 105px;
  }
  input[name=img] {
      width: 300px;
  }
  label[for=medicine] {
      position: relative;
      left: 330px;
      bottom: 105px;
  }
  label[for=img] , input[name=img] {
      position: relative;
      bottom: 80px;
  }
  label[for=num] , input[name=num] {
    position: relative;
    bottom: 163px;
    left: 333px;
}
  .form-container h1 {
      text-align: center;
      font-size: 24px;
      color: #00adb5;
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 190px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #276678;
    color: white;
    padding-top: 13px;
    padding-bottom: 32px;
    border: none;
    cursor: pointer;
    width: 230px;
    margin-bottom:10px;
    opacity: 0.8;
    
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
    position: relative;
    left: 352px;
    bottom: 141px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .form-container .submit {
      position: relative;
      left: -221px;
      bottom: 70px;
  }
#donarDiv {
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 16px 16px 0 #111;
    position: relative;
    top: 50px;
    left: -70px;
    margin-bottom: 30px;
}
#donarImg {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    position: relative;
    left: 75px;
    top: 45px;
}
#donarDiv h3 {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
nav ul {
    position: absolute;
    right: 0px;
    top: 42px;
    background-color: rgb(57, 62, 70);
    
}

nav ul li {
    display: inline;
    padding-right: 100px;
    margin: 0 auto;
    background-color: rgb(57, 62, 70);
}
#header {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: rgb(57, 62, 70);
}
#logo{
    width: 100px;
    height: 100px;
}
header {
    background-color: rgb(57, 62, 70);
}
a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(57, 62, 70);
    color: white;
}
#new {
    position: relative;
    top: 120px;
    left: 50%;
    margin-left: -140px;
}
#para {
    width: 960px;
    left: 50%;
    margin-left: -480px;
    position: relative;
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
}
.border{
    position: relative;
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #666;
    margin-bottom: 40px;
    top: 15px;
}
main h2 {
    margin: 0 auto;
    font-size: xx-large;
    text-align: center;
    color: #00adb5;
    text-transform: uppercase;
}
#head {
    position: relative;
    width: 960px;
    margin: 0 auto;
    left: 50%;
    margin-left: -480px;
    top: 130px;
}
#header2 {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(57, 62, 70);
}
#logo{
    width: 100px;
    height: 100px;
}
header {
    background-color: rgb(57, 62, 70);
    z-index: 100;
}
a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(57, 62, 70);
    color: white;
}
#head {
    position: relative;
    width: 960px;
    margin: 0 auto;
    left: 50%;
    margin-left: -480px;
    top: 130px;
}
main h2 {
    margin: 0 auto;
    font-size: xx-large;
    text-align: center;
    color: #00adb5;
    text-transform: uppercase;
}
.border{
    position: relative;
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #666;
    margin-bottom: 40px;
    top: 15px;
}
#para {
    width: 960px;
    left: 50%;
    margin-left: -480px;
    position: relative;
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
    text-align-last: center;
}
#bigFooter{
    width: 1150px;
    position: relative;
    left: 50%;
    margin-left: -660px;
    font-family: 'Rubik', sans-serif;
}