@import url('https://font.googleapis.com/sxx?family=poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container {
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    margin: 0px;
}

footer .aboutus {
    width: 500px;
}

footer h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

footer h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
    width: 460px;
    text-align: justify;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
    margin-left: 17px;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.quicklinks ul li {
    list-style: none;
}

.contact {
    position: absolute;
    width: calc(35% - -144px);
    margin-right: 0 !important;
    display: inline-block;
    right: 0px;
    top: 0px;
}

.contant .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.cpayright {
    width: 100%;
    background: #181818;
    padding: 8px 370px;
    text-align: center;
    color: #999;
    position: relative;
    top: 20px;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
        width: 480px;
    }
    footer .container .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100px;
    }
    .copyright {
        padding: 8px 40px;
    }
}

h1 {
    position: relative;
    text-align: center;
    top: 140px;
}

#bigImg {
    width: 100%;
    height: 250px;
    border-radius: 25px;
}

header {
    width: 100vw;
    height: 707px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/pill-bottle.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 707px;
}

#bigH {
    box-shadow: inset 50px 50px 50px rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 707px;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

h1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 100px;
    width: 580px;
    top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
    margin-left: -580px;
}

#h1 {
    width: 100vw;
}

.card {
    position: relative;
}

.card1 {
    border-radius: 25px;
    width: 250px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    left: 50%;
    margin-left: 50px;
    top: 75px;
    transition-duration: 400ms;
}

h5 {
    position: relative;
    text-align: center;
    top: 10px;
}

.card1:hover {
    background-color: #276678;
    transform: scale(1.2);
    color: #f6f5f5;
    transition-duration: 400ms;
}

.card2 {
    border-radius: 25px;
    width: 250px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    left: 50%;
    margin-left: 100px;
    top: 95px;
    transition-duration: 400ms;
}

.card2:hover {
    background-color: #276678;
    transform: scale(1.2);
    color: #f6f5f5;
    transition-duration: 400ms;
}

.card3 {
    border-radius: 25px;
    width: 250px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    left: 50%;
    margin-left: 150px;
    top: 115px;
    transition-duration: 400ms;
}

.card3:hover {
    background-color: #276678;
    transform: scale(1.2);
    color: #f6f5f5;
    transition-duration: 400ms;
}

#first {
    position: relative;
    width: 100vw;
    height: 250px;
    text-align: center;
    background-color: #eeeeee;
    color: black;
}

#first h3 {
    position: relative;
    font-size: xx-large;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    color: #00adb5;
    top: 30px;
    text-transform: uppercase;
}

#first p {
    position: relative;
    margin: 0 auto;
    width: 960px;
    top: 40px;
    left: 20px;
    font-size: x-large;
    text-align: justify;
}

#backG {
    width: 100vw;
    height: 25px;
    background-color: rgb(57, 62, 70);
    background-size: 100% 100vh;
}

hr {
    position: relative;
    top: 25px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background-color: #666;
}

#second {
    position: relative;
    width: 100vw;
    height: 280px;
    text-align: center;
    background-color: #eeeeee;
    color: black;
}

#second h3 {
    position: relative;
    font-size: xx-large;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    color: #00adb5;
    top: 30px;
    text-transform: uppercase;
}

#second ul {
    /* list-style-type: upper-latin; */
    list-style-type: circle;
}

#second li {
    position: relative;
    margin: 0 auto;
    width: 960px;
    top: 40px;
    left: 20px;
    font-size: x-large;
    text-align: justify;
}

#third {
    position: relative;
    width: 100vw;
    height: 250px;
    text-align: center;
    background-color: #eeeeee;
    color: black;
}

#third h3 {
    position: relative;
    font-size: xx-large;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    color: #00adb5;
    top: 30px;
    text-transform: uppercase;
}

#third p {
    position: relative;
    margin: 0 auto;
    width: 960px;
    top: 40px;
    left: 20px;
    font-size: x-large;
    text-align: justify;
}
#bigFooter{
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -480px;
}