*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    
    
    }
    body{
    
    display: flex;
    justify-content: left;
    align-items: center;
    background: #16384c;
    }
    .container{
        position: relative;
        width: 40%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        margin-left: 2%;
    }
    .container .card{

        position: relative;
        max-height: 350px;
        width: 215px;
        background: #fff;
        margin: 30px 10px;
        padding: 20px 15px;
        display: inline-table;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out;
    }
    .container .card:hover{
        width: 500px;
        max-height: 350px;

    
    
    }
    .container .card .imgBx{
        position: relative;
        width: 260px;
        height: 260px;
        top: 0px;
        /* left: -50px; */
        z-index: 1;
        box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    
    }
    .container .card .imgBx img{
        max-width:100% ;
        border-radius:4px ;
    
    }
    .container .card .content{
    
        position: absolute;
        /* margin-top: -140px; */
        padding: 10px 15px;
        width: 203px;
        color: #111;
        top: 5%;
        right: 20px;
        /* text-align: center; */
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;

    }
    
    .container .card:hover .content{
    
        visibility: visible;
        opacity: 1;
        /* margin-left:-40px; */
        transition-delay: 0.5s;
    }
    
    button{
        width: 181px;
        height: 25px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        background: #16384c;
        border: 0;
        border-radius: 20px;
        outline: none;
        position: relative;
        margin-top: 15px;
        left: 45px;
         }
         pre {
             position: relative;
            right: 40px;
         }