*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    
    
    }
    body{
    
    display: flex;
    justify-content: left;
    align-items: center;
    background: #eeeeee;
    }
    main {
        width: 960px;
        position: relative;
        left: 50%;
        margin-left: -480px;
    }
    .container {
        position: absolute;
        width: 350px;
        align-items: center;
        left: 0px;
        top: 450px;
    }
    .container2{
        position: absolute;
        width: 350px;
        align-items: center;
        right: 0px;
        top: 450px;
    }
     .card{

        position: relative;
        max-height: 350px;
        width: 215px;
        background: #fff;
        margin: 30px 10px;
        padding: 20px 15px;
        display: inline-table;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }
     .card:hover{
        width: 500px;
        max-height: 350px;

    
    
    }
     .card .imgBx{
        position: relative;
        width: 260px;
        height: 260px;
        top: 0px;
        /* left: -50px; */
        z-index: 1;
        box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    
    }
     .card .imgBx img{
        max-width:100% ;
        border-radius:4px ;
    
    }
     .card .content{
    
        position: absolute;
        /* margin-top: -140px; */
        padding: 10px 15px;
        width: 203px;
        color: #111;
        top: 5%;
        right: 20px;
        /* text-align: center; */
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;

    }
    
     .card:hover .content{
    
        visibility: visible;
        opacity: 1;
        /* margin-left:-40px; */
        transition-delay: 0.5s;
    }
    
    button{
        width: 181px;
        height: 25px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        background: #16384c;
        border: 0;
        border-radius: 20px;
        outline: none;
        position: relative;
        margin-top: 15px;
        left: 45px;
         }
         pre {
             position: relative;
            right: 60px;
         }
         #header2 {
            width: 100vw;
            height: 100px;
            position: fixed;
            top: 0;
            z-index: 100;
            background-color: rgb(57, 62, 70);
        }
        #logo{
            width: 100px;
            height: 100px;
        }
        header {
            background-color: rgb(57, 62, 70);
            z-index: 100;
        }
        a {
            text-decoration: none;
            font-family: 'Rubik', sans-serif;
            background-color: rgb(57, 62, 70);
            color: white;
        }
        #head {
            position: relative;
            width: 960px;
            margin: 0 auto;
            left: 50%;
            margin-left: -480px;
            top: 130px;
        }
        h2 {
            margin: 0 auto;
            font-size: 30px;
            text-align: center;
            font-weight: bolder;
            color: #276678;
            text-transform: uppercase;
        }
        .border{
            position: relative;
            display: block;
            margin: auto;
            width: 160px;
            height: 3px;
            background: #666;
            margin-bottom: 40px;
            top: 15px;
        }
        #para {
            width: 960px;
            left: 50%;
            margin-left: -480px;
            position: relative;
            text-align: justify;
            line-height: 35px;
            font-size: 20px;
        }
        nav ul {
            position: absolute;
            right: 390px;
            top: 40px;
            background-color: rgb(57, 62, 70);
            
        }
        
        nav ul li {
            display: inline;
            padding-right: 100px;
            margin: 0 auto;
            background-color: rgb(57, 62, 70);
        }
        #head {
            position: relative;
            width: 960px;
            margin: 0 auto;
            left: 50%;
            margin-left: -480px;
            top: 130px;
        }