@import url('https://font.googleapis.com/sxx?family=poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #393e46;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 3750px;
}

#container {
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    margin: 0px;
    
}

footer .aboutus {
    width: 500px;
}

footer h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

footer h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
    width: 460px;
    text-align: justify;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
    margin-left: 17px;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.quicklinks ul li {
    list-style: none;
}

.contact {
    position: absolute;
    width: calc(35% - -144px);
    margin-right: 0 !important;
    display: inline-block;
    right: 0px;
    top: 0px;
}

.contant .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.cpayright {
    width: 100%;
    background: #181818;
    padding: 8px 370px;
    text-align: center;
    color: #999;
    position: relative;
    top: 20px;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
        width: 480px;
    }
    footer .container .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100px;
    }
    .copyright {
        padding: 8px 40px;
    }
}

    
    button{
        width: 181px;
        height: 25px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        background: #16384c;
        border: 0;
        border-radius: 20px;
        outline: none;
        position: relative;
        margin-top: 15px;
        left: 45px;
         }
         pre {
             position: relative;
            right: 60px;
         }
         #header2 {
            width: 100vw;
            height: 100px;
            position: fixed;
            top: 0;
            z-index: 100;
            background-color: rgb(57, 62, 70);
        }
        #logo{
            width: 100px;
            height: 100px;
        }
        header {
            background-color: rgb(57, 62, 70);
            z-index: 100;
        }
        a {
            text-decoration: none;
            font-family: 'Rubik', sans-serif;
            background-color: rgb(57, 62, 70);
            color: white;
        }
        #head {
            position: relative;
            width: 960px;
            margin: 0 auto;
            left: 50%;
            margin-left: -480px;
            top: 130px;
        }
        main h2 {
            margin: 0 auto;
            font-size: 30px;
            text-align: center;
            font-weight: bolder;
            color: #276678;
            text-transform: uppercase;
        }
        .border{
            position: relative;
            display: block;
            margin: auto;
            width: 160px;
            height: 3px;
            background: #666;
            margin-bottom: 40px;
            top: 15px;
        }
        #para {
            width: 960px;
            left: 50%;
            margin-left: -480px;
            position: relative;
            text-align: justify;
            line-height: 35px;
            font-size: 20px;
        }
        nav ul {
            position: absolute;
            right: 390px;
            top: 40px;
            background-color: rgb(57, 62, 70);
            
        }
        
        nav ul li {
            display: inline;
            padding-right: 100px;
            margin: 0 auto;
            background-color: rgb(57, 62, 70);
        }
        #head {
            position: relative;
            width: 960px;
            margin: 0 auto;
            left: 50%;
            margin-left: -480px;
            top: 130px;
        }
/* * {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #16384c;
}

*/
.container {
    position: absolute;
    width: 350px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    right: 0px;
    top: 120px;
    
}

.container2 {
    position: absolute;
    width: 350px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    left: 0px;
    top: 120px;
    
}
.card {
    position: relative;
    max-height: 350px;
    width: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: inline-table;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 25px;
}

.card:hover {
    width: 500px;
    max-height: 350px;
}

.card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 25px;
    top: 0px;
    left: -50px;
    z-index: 1;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
}

.card .imgBx img {
    max-width: 100%;
    border-radius: 25px;
    height: 100%;
}

.card .content {
    position: absolute;
    margin-top: 0px;
     padding: 10px 15px;
    width: 203px;
    color: #111;
    top: 5%;
    right: 20px; 
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content {
    visibility: visible;
    opacity: 1;
     margin-left:-40px; 
    transition-delay: 0.5s;
}
#bigCont {
    position: relative;
    width: 1150px;
    left: 50%;
    margin-left: -480px;
    
}
body {
    background-color: #eeeeee;
}
#bigFooter{
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -480px;
}
#formOne {
    width: 400px;
    height: 300px;
    background-color: blue;
    position: fixed;
    left: 35%;
    top: 50%;
    z-index: 5;
    display: none;
}
#namepatient {
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
}
#timepatient {
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    top: 30px;
}
#label1 {
    position: relative;
    top: 121px;
    right: 178px;
}
#label2 {
    position: relative;
    top: 30px;
}
#label3 {
    position: relative;
    top: 70px;
    right: -40px;
}
#label4 {
    position: relative;
    top: 70px;
    left: 55px;
}
#optionOne {
    position: relative;
    top: 120px;
    right: 170px;
}