header {
    position: fixed;

    width: 960px;
    margin: 0 auto;
    left: 25%;
}
main {
    width: 960px;
    margin: 0 auto;
}
footer {
    width: 960px;
    margin: 0 auto;
}
#logo {
    width: 110px;
}
nav ul {
    position: relative;
    left: 250px;
    bottom: 70px;
}
nav ul li {
    display: inline;
    padding-right: 80px;
}
h1 {
    position: relative;
    text-align: center;
    top: 140px;
}
#bigImg {
    width: 100%;
    height: 480.5px;
    border-radius: 25px;
}